#title-section {
  width: full;
  text-align: center;
  padding-bottom: 40px;
}

#about-section-divider {
  border-bottom: 4px solid white;
}

.about-section {
  display: flex;
  justify-content: space-between;
}

.about-image {
  width: 509px;
}

#about-section-1,
#about-section-2,
#title-section {
  color: white;
}
