#title-section {
  width: full;
  text-align: center;
  padding-bottom: 40px;
}

#about-section-divider {
  border-bottom: 4px solid white;
  margin: 20px 0;
}

.about-section {
  display: flex;
  justify-content: space-between;
}

.about-image {
  width: 509px;
}

#about-section-1,
#about-section-2,
#title-section {
  color: white;
}

#about-section-2 {
  padding-bottom: 40px;
}

.right-about-section ul {
  list-style: none;
}

.right-about-section ul li {
  margin-bottom: 10px;
}

.right-about-section ul li span {
  font-weight: bold;
}

.right-about-section h3 {
  margin-bottom: 20px;
}

.right-about-section {
  margin-left: 20px;
}

.left-about-section {
  margin-right: 20px;
}

@media screen and (max-width: 640px) {
  #title-section {
    padding-bottom: 20px;
    font-size: 1rem;
    margin: 0 20px;
  }

  #title-section h2 {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1024px) {
  #title-section {
    padding-bottom: 20px;
    font-size: 1.8rem;
    margin: 0 20px;
  }

  #title-section h2 {
    font-size: 1rem;
  }

  .about-section {
    flex-direction: column;
    width: 90 %;
    margin: 0 10px;
  }

  .about-section p {
    font-size: 0.8rem;
    margin: 10px 10px;
  }

  .about-image {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }

  .right-about-section h3 {
    text-align: center;
  }

  .right-about-section li {
    font-size: 0.8rem;
  }

  about-image img {
    margin-bottom: 10px;
  }
}
