p,
h1,
label,
h2 {
  color: white;
}

#filter-section {
  width: 100%;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

#title-section {
  text-align: center;
  padding-bottom: 20px;
}

#filter-section p {
  font-size: 20px;
  margin-bottom: 10px;
}

#filter-section label {
  font-size: 16px;
}

#filter-section select {
  padding: 8px;
  margin-top: 10px;
  margin-right: 10px;
}

#product-grid {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: #1b203d;
  width: 300px;
  height: 330px;
  margin-bottom: 20px;
}

.card-image img {
  width: 130px;
}
.card-title {
  font-size: 1rem;
  margin: 10px;
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.card p {
  display: inline-block;
  margin: 10px;
}

/* TODO: Fix text alignment inside the button */

.card-button {
  padding: 5px 10px;
  background-color: #cfa616;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  filter: drop-shadow(2px 2px 6px #000000);
}

.card-button:hover {
  background-color: #f7d7a9;
}

.card-text {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
