/* General Cart Styling */
#cart {
  display: flex;
  padding: 20px;
  justify-content: center;
  margin-bottom: 50px;
}

#cart-heading h1 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

/* Cart Content Styling */
#cart-content {
  margin-bottom: 20px;
  width: 50%;
}

.product-card {
  display: flex;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: space-between; /* Distribute space evenly */
}

.image-container {
  flex: 0 0 100px;
  margin-right: 15px;
}

.product-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

h2 {
  font-size: 1rem;
}

.quantity p, .price p {
  font-size: 0.8rem;
}

/* Quantity and Price Styling */
.quantity-container,
.price-container {
  margin-right: 15px;
  font-weight: bold;
}

.quantity-counter,
.product-price {
  font-weight: bold;
}

/* Control Styling (Trash Icon) */
.control-container {
  cursor: pointer;
  color: #888;
  font-size: 1.2em;
}

.fa-trash {
  color: #e44d26;
}

/* Cart Summary Styling */
#cart-summary {
  width: 100%;
  max-width: 300px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#cart-summary-heading h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

#cart-items,
#cart-price {
  margin-bottom: 10px;
  font-weight: bold;
}

#checkout-btn {
  background-color: #cfa616;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

#checkout-btn:hover {
  background-color: #367c39;
}

.cart-card {
  display: flex;
  margin-bottom: 30px;
}

.quantity {
  display: block;
}

.control {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.fa-solid:hover {
  cursor: pointer;
}
