.heading {
  text-align: center;
  margin-bottom: 40px;
}

.content {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.content img {
  width: 180px;
  height: 200px;
  object-fit: fit;
  margin-bottom: 140px;
}

.text-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.browse-btn {
  width: 180px;
  height: 50px;
  font-size: 16px;
  text-align: center;
  align-self: center;
  padding: 13px;
  margin-top: 20px;
}

@media screen and (max-width: 640px) {
  .content {
    margin: 0 20px;
    flex-direction: column;
  }

  .content img {
    margin-bottom: 40px;
    margin-left: 60px;
  }

  .text-box h2 {
    text-align: center;
  }

  .text-box a {
    align-self: center;
  }

  .text-box button {
    align-self: center;
    padding: 1px;
  }
}
