* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #1b203d;
  width: 80vw;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1b203d;
}

.icon {
  color: white;
}

#shopping-cart {
  margin-right: 20px;
}

#logo-section {
}

#site-logo {
  width: 150px;
  height: 100px;
  margin: 20px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
}

header ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

#members-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  background: url(" ../Images/GameHubcovers9.jpg") no-repeat center/cover;
  background-position: center 36%;
  position: relative;
}

#hero-section h1 {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 3.5rem;
  color: white;
  font-weight: 700;
  text-shadow: -4px -4px 0 black, 4px -4px 0 black, -4px 4px 0 black,
    4px 4px 0 black, -5px 0px 0 black, 5px 0px 0 black, 0px 5px 0 black,
    0px -5px 0 black;
}

#hero-section-button {
  position: absolute;
  bottom: 20%;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #cfa616;
  filter: drop-shadow(5px 5px 10px #000000);
}

#hero-section-button:hover {
  filter: drop-shadow(8px 8px 20px #000000);
  background-color: #f7d7a9;
}

#hero-section a {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
}

#promotion-section {
  display: flex;
  justify-content: space-around;
}

#promotion-section img {
  width: 106px;
  height: 136px;
}

.card-section-header {
  padding: 20px 0 3px 0;
  width: 100%;
  border-bottom: 3px solid white;
  margin-bottom: 20px;
  margin-top: 40px;
  font-size: 1.3rem;
}

.card-section-header h2 {
  color: white;
  align-self: center;
  text-align: center;
}

.card-section-body,
.members-section-body {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.members-section-card,
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: #1b203d;
  gap: 10px;
}

.members-section-card {
  width: 400px;
  height: 350px;
}

.card {
  width: 180px;
  height: 300px;
}

.card-title,
.members-section-card-title {
  font-size: 1rem;
  margin: 10px;
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.card p {
  display: inline-block;
  margin: 10px;
}

/* TODO: Fix text alignment inside the button */

.card-button,
#members-section-button,
#promotion-section-button {
  padding: 5px 10px;
  background-color: #cfa616;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  filter: drop-shadow(2px 2px 6px #000000);
}

#members-section-button,
#promotion-section-button {
  width: 200px;
  padding: 10px 20px;
  margin: 20px 0;
}

#promotion-section-button {
  margin: 20px auto;
}

.card-button:hover,
#members-section-button:hover,
#promotion-section-button:hover {
  background-color: #f7d7a9;
}

.card-text,
.members-section-button-text,
.promotion-section-button-text {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

#members-info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

#members-section-title {
  text-align: center;
  color: white;
  font-size: 1.3rem;
  margin: 40px 0;
}

/* THIS IS TO BE REMOVED */
#members-info-section img {
  width: 106px;
  height: 136px;
  border-radius: 5px;
}
/* END OF SECTION TO BE REMOVED */

.members-section-card-info {
  padding: 20px;
}

.members-section-card-info p {
  padding: 5px;
  font-size: 0.8rem;
  width: 100%;
}

.member-icon {
  font-size: 4rem;
  padding-right: 10px;
}

footer {
  color: white;
  display: flex;
  justify-content: space-around;
}

footer a {
  color: white;
  text-decoration: none;
}

.footer-icon {
  font-size: 1.8rem;
  padding-right: 10px;
}

#footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  flex: 1;
  padding-bottom: 50px;
}

#footer-nav-heading {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

#footer-nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

#newsletter-heading {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

#email-input {
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: white;
  color: white;
  border-radius: 5px;
}

#newsletter-button {
  display: block;
  padding: 5px 10px;
  background-color: #cfa616;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  filter: drop-shadow(2px 2px 6px #000000);
  margin: 10px 0 30px 0;
}
