#hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  background: url(https://utfs.io/f/CPkGyyZpEykHUqBCwtIJtc8QBmWdxY7ja4yXpG1szUwE02KC)
    no-repeat center/cover;
  background-position: center 36%;
  position: relative;
}

#hero-section h1 {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 3.5rem;
  color: white;
  font-weight: 700;
  text-shadow: -4px -4px 0 black, 4px -4px 0 black, -4px 4px 0 black,
    4px 4px 0 black, -5px 0px 0 black, 5px 0px 0 black, 0px 5px 0 black,
    0px -5px 0 black;
}

#hero-section-button {
  position: absolute;
  bottom: 20%;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #cfa616;
  filter: drop-shadow(5px 5px 10px #000000);
}

#hero-section-button:hover {
  filter: drop-shadow(8px 8px 20px #000000);
  background-color: #f7d7a9;
}

#hero-section a {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
}

#promotion-section {
  display: flex;
  justify-content: space-around;
}

#promotion-section img {
  width: 106px;
  height: 136px;
}

.card-section-header {
  padding: 20px 0 3px 0;
  width: 100%;
  border-bottom: 3px solid white;
  margin-bottom: 20px;
  margin-top: 40px;
  font-size: 1.3rem;
}

.card-section-header h2 {
  color: white;
  align-self: center;
  text-align: center;
}

.card-section-body,
.members-section-body {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.members-section-card {
  width: 400px;
  height: 350px;
}

.card {
  width: 180px;
  height: 300px;
}

/* TODO: Fix text alignment inside the button */

#members-section-button,
#promotion-section-button {
  width: 200px;
  padding: 10px 20px;
  margin: 20px 0;
}

#promotion-section-button {
  margin: 20px auto;
}

#members-info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

#members-section-title {
  text-align: center;
  color: white;
  font-size: 1.3rem;
  margin: 40px 0;
}

/* THIS IS TO BE REMOVED */
#members-info-section img {
  width: 106px;
  height: 136px;
  border-radius: 5px;
}
/* END OF SECTION TO BE REMOVED */

.members-section-card-info {
  padding: 20px;
}

.members-section-card-info p {
  padding: 5px;
  font-size: 0.8rem;
  width: 100%;
}

.member-icon {
  font-size: 4rem;
  padding-right: 10px;
}
