/* Base styles */
#product-info {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-bottom: 2px solid white;
  margin-bottom: 40px;
  gap: 20px;
}

#image-section,
#product-details {
  width: 50%;
}

#image-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#image-section img {
  width: 100%;
  max-width: 300px;
  height: auto;
  aspect-ratio: 2/3;
}

/* Featured section styles */
#featured {
  margin: 0 auto;
  padding: 20px;
  width: 90%;
  max-width: 1200px;
}

#featured h2 {
  text-align: center;
  padding-bottom: 20px;
}

#featured-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  justify-items: center;
}

.card {
  width: 100%;
  max-width: 180px;
  height: auto;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.card-image img {
  width: 100%;
  height: auto;
  aspect-ratio: 2/3;
}

.card-button {
  margin-bottom: 10px;
}

/* Product details styles */
#product-rating {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px 0;
  color: yellow;
}

#product-rating .white {
  color: white;
}

#product-description {
  max-width: 100%;
}

#product-description p,
ul {
  padding: 10px 0;
}

#product-description ul {
  padding-left: 20px;
}

#product-purchase {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
}

/* Typography */
h1,
h2,
p,
li {
  color: white;
}

#product-purchase p {
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  font-weight: bold;
}

/* Button styles */
.purchase-button {
  padding: 10px 20px;
  background-color: #f1f1e6;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  filter: drop-shadow(2px 2px 6px #000000);
  font-size: 1rem;
  margin-bottom: 4px;
  display: inline-block;
  background-color: #cfa616;
}

.purchase-button:hover {
  background-color: #cfa616;
  color: white;
  cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  #product-info {
    flex-direction: column;
    align-items: center;
  }

  #image-section,
  #product-details {
    width: 100%;
    max-width: 500px;
  }

  #product-details {
    padding: 20px;
  }

  #product-purchase {
    flex-direction: column;
    text-align: center;
  }

  #featured-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  #featured {
    width: 95%;
    padding: 10px;
  }

  .card {
    max-width: 280px;
  }

  #product-rating {
    justify-content: center;
  }
}
