/* General CSS applicable to the entire site */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Bree Serif", serif;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #1b203d;
  width: 80vw;
  margin: 0 auto;
}

/* CSS for fonts */

/* CSS for header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1b203d;
}
.icon {
  color: white;
}
#shopping-cart {
  margin-right: 20px;
}
#site-logo {
  width: 150px;
  height: 100px;
  margin: 20px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
}
header ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
#members-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* CSS for footer */
footer {
  color: white;
  display: flex;
  justify-content: space-around;
}
footer a {
  color: white;
  text-decoration: none;
}
.footer-icon {
  font-size: 1.8rem;
  padding-right: 10px;
}
#footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  flex: 1;
  padding-bottom: 50px;
}
#footer-nav-heading {
  font-size: 0.8rem;
  margin-bottom: 10px;
}
#footer-nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
#newsletter-heading {
  font-size: 0.8rem;
  margin-bottom: 10px;
}
#email-input {
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: white;
  color: white;
  border-radius: 5px;
}
#newsletter-button {
  display: block;
  padding: 5px 10px;
  background-color: #cfa616;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  filter: drop-shadow(2px 2px 6px #000000);
  margin: 10px 0 30px 0;
}
